spring:
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB
  datasource:
    driver-class-name: org.postgresql.Driver
  liquibase:
    change-log: classpath:db/changelog-master.yaml
  thymeleaf:
    enabled: false
  mail:
    host: smtp.migadu.com
    port: 465
    username: "${MAIL_USERNAME}"
    password: "${MAIL_PASSWORD}"
    properties:
      mail:
        smtp:
          auth: true
          ssl:
            enable: true
jwt:
  secret-key: "${JWT_SECRET_KEY}"
cloud:
  aws:
    s3:
      bucket: "${AWS_S3_BUCKET}"
    credentials:
      access-key: "${AWS_S3_ACCESS_KEY}"
      secret-key: "${AWS_S3_SECRET_KEY}"
    region:
      static: ap-northeast-2
    stack:
      auto: false
server:
  tomcat:
    threads:
      min-spare: 10
      max: 120
    accept-count: 100
    remoteip:
      internal-proxies: ".*"
      remote-ip-header: X-Forwarded-For
      protocol-header: X-Forwarded-Proto
  servlet:
    session:
      cookie:
        same-site: none
  error:
    include-message: always
  forward-headers-strategy: native
springdoc:
  swagger-ui:
    tags-sorter: alpha
    operations-sorter: method
portone:
  api-key: "${PORTONE_API_KEY}"
  api-secret: "${PORTONE_API_SECRET}"
management:
  health:
    defaults:
      enabled: false