<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender class="ch.qos.logback.core.ConsoleAppender" name="CONSOLE_DEFAULT">
    <encoder>
      <pattern>%clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}}){faint} %clr(${LOG_LEVEL_PATTERN:-%-5level}) %clr(${PID}){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}</pattern>
    </encoder>
  </appender>

  <appender class="ch.qos.logback.core.ConsoleAppender" name="CONSOLE_JSON">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <customFields>{"app_name":"${springAppName:-}"}</customFields>
      <fieldNames>
        <level>level</level>
        <logger>logger</logger>
        <message>message</message>
        <stackTrace>stack_trace</stackTrace>
        <thread>thread</thread>
        <timestamp>timestamp</timestamp>
        <version>[ignore]</version>
      </fieldNames>
      <jsonGeneratorDecorator
        class="net.logstash.logback.decorate.PrettyPrintingJsonGeneratorDecorator"/>
    </encoder>
  </appender>

  <!-- 기본 Spring Boot 로그를 위한 콘솔 Appender (텍스트 형식) -->
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

  <!-- 로컬을 비롯한 기본 환경 (dev | prod 아닐 때) -->
  <springProfile name="!dev &amp; !prod">
    <logger additivity="false" level="INFO" name="com.kioschool.kioschoolapi.global.logging.aop.LoggingAspect">
      <appender-ref ref="CONSOLE_JSON"/>
    </logger>
    <root level="INFO">
      <appender-ref ref="CONSOLE_DEFAULT"/>
    </root>
  </springProfile>

  <!-- 개발(dev) 및 운영(prod) 환경 -->
  <springProfile name="dev | prod">
    <!-- GCP Cloud Logging (Stackdriver) Appender -->
    <include resource="com/google/cloud/spring/logging/logback-appender.xml" />
    
    <logger additivity="false" level="INFO" name="com.kioschool.kioschoolapi.global.logging.aop.LoggingAspect">
      <appender-ref ref="CONSOLE_JSON"/>
      <appender-ref ref="STACKDRIVER"/>
    </logger>
    <root level="INFO">
      <appender-ref ref="CONSOLE_DEFAULT"/>
      <appender-ref ref="STACKDRIVER"/>
    </root>
  </springProfile>

  <!-- LoggingAspect 로거: JSON 형식으로 출력 -->
  <springProperty name="springAppName" scope="context" source="spring.application.name"/>

</configuration>