<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender class="ch.qos.logback.core.ConsoleAppender" name="CONSOLE_DEFAULT">
    <encoder>
      <pattern>%clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}}){faint} %clr(${LOG_LEVEL_PATTERN:-%-5level}) %clr(${PID}){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}</pattern>
    </encoder>
  </appender>

  <appender class="ch.qos.logback.core.ConsoleAppender" name="CONSOLE_JSON">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <customFields>{"app_name":"${springAppName:-}"}</customFields>
      <fieldNames>
        <level>level</level>
        <logger>logger</logger>
        <message>message</message>
        <stackTrace>stack_trace</stackTrace>
        <thread>thread</thread>
        <timestamp>timestamp</timestamp>
        <version>[ignore]</version>
      </fieldNames>
      <jsonGeneratorDecorator
        class="net.logstash.logback.decorate.PrettyPrintingJsonGeneratorDecorator"/>
    </encoder>
  </appender>

  <!-- 기본 Spring Boot 로그를 위한 콘솔 Appender (텍스트 형식) -->
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

  <!-- LoggingAspect에서 발생하는 로그를 위한 콘솔 Appender (JSON 형식) -->
  <logger additivity="false" level="INFO"
    name="com.kioschool.kioschoolapi.global.logging.aop.LoggingAspect">
    <appender-ref ref="CONSOLE_JSON"/>
  </logger>

  <!-- Root Logger: 기본 Spring Boot 로그는 CONSOLE_DEFAULT Appender 사용 -->
  <root level="INFO">
    <appender-ref ref="CONSOLE_DEFAULT"/>
  </root>

  <!-- LoggingAspect 로거: JSON 형식으로 출력 -->
  <springProperty name="springAppName" scope="context" source="spring.application.name"/>

</configuration>