<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title></title>
</head>
<body
    style="font-family: 'Apple SD Gothic Neo', NanumGothic, 'Malgun Gothic', serif; background-color: #f4f4f4; margin: 0; padding: 0; display: flex; align-items: center; justify-content: center; height: 100vh;">
<div
    style="text-align: center; background-color: #ffffff; padding: 20px; margin: 10% 35%; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); width: 30%">
  <h1>키오스쿨</h1>
  <div
      style="font-family: 'Apple SD Gothic Neo', NanumGothic, 'Malgun Gothic', serif; font-size: 20px; font-weight: bold; letter-spacing: -0.5px; color: #424244;">
    <p>키오스쿨 비밀번호 재설정</p>
  </div>
  <div
      style="background-color: #4caf50; color: #ffffff; font-size: 24px; font-weight: bold; text-align: center; padding: 10px; border-radius: 4px; margin-bottom: 20px; cursor: pointer">
    <a style="text-decoration: none"
       th:href="'https://kio-school.com/reset-password?code=' + ${code}">재설정하기</a>
  </div>
</div>
</body>
</html>
