name: Deploy
on:
  push:
    branches: [ "development" ] # development 브랜치에 푸시될 때만 실행 (실수로 dev 등이 배포되는 것 방지)

jobs:
  deploy:
    name: Build & Deploy to Cloud Run
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: 17

      - name: Grant execute permissions for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        shell: bash
        env:
          GRADLE_PROPERTIES: ${{ secrets.GRADLE_PROPERTIES }}
        run: >-
          mkdir -p ~/.gradle/
          
          echo "GRADLE_USER_HOME=${HOME}/.gradle" >> $GITHUB_ENV          
          
          echo "${GRADLE_PROPERTIES}" > ~/.gradle/gradle.properties          
          
          ./gradlew bootJar
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push to Docker Hub
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/kioschool-server:development

      # 6. 구글 클라우드 인증 (GCP_CREDENTIALS 시크릿 필요)
      - name: Google Cloud Auth
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_CREDENTIALS }}

      # 7. Cloud Run 배포 요청
      - name: Deploy to Cloud Run
        uses: google-github-actions/deploy-cloudrun@v2
        with:
          service: 'kioschool-server-dev'  # Cloud Run 서비스 이름
          image: '${{ secrets.DOCKER_USERNAME }}/kioschool-server:development' # DockerHub 이미지 주소
          region: 'asia-northeast3'   # 서울 리전